<div id="multi-item-example" class="carousel slide carousel-multi-item" data-ride="carousel">
    <div class="carousel-inner" role="listbox">
        {% set buttons = [] %}
        {% for member_row in members|batch(3, 'No item') %}
            {% set buttons = buttons|merge([loop.index-1]) %}
            <div class="carousel-item {% if loop.index == 1 %}active{% endif %}">
                {% for member in member_row %}
                    <div class="col-4 text-center">

                        <div class="avatar">
                            <img src="{{ asset(member.image.getWebPath()) }}" class="rounded-circle" width="80%">
                        </div>
                        <br>
                        <h4>{{ member.fullname }}</h4>
                        <!--{% if member.jobtitle %}
                            <h5>{{ member.jobtitle }}</h5>
                        {% endif %}-->
                        <p>{{ member.description|slice(0, 100)~" ..." }}</p>
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
    </div>
    <ol class="carousel-indicators">
        {% for button in buttons %}
            <li data-target="#multi-item-example" data-slide-to="{{ button }}" class="first-color {% if loop.index == 1 %}active{% endif %}"></li>
        {% endfor %}
    </ol>
</div>
