{% extends ':festival/site-structure:base_index.html.twig' %}

{% block body %}
    {% include ":festival/elements:carousel_festival.html.twig" %}
    <div id="the-festival" class="index-section">
        <div class="container">
            <div class="row flex-center">
                <div class="col-6">
                    <h1 class="text-right">THE GRENOBLE <br>INDIAN FILM FESTIVAL</h1>
                    <br>
                    <div>
                        <h4>The Festival</h4>
                        <p>For the flrst lime in Grenoble, discover The Grenoble lndian Film Festival ! When lndian
                            cinema meets the capital of the French Alps, be ready to discover lndia's most controversial
                            film maker, the one and only, Anurag Kashyap. Join us for a 3-day event with the very best
                            of Kashyap. </p>
                        <h4>Anurag Kashyap</h4>
                        <p>Anurag Kashyap is an lndian film writer, director, producer, and actor. He is often regarded
                            as the face of an emerging new wave cinema for producing numerous independent films with
                            newcomers. For his contributions to film, the Government of France awarded him the "Ordre
                            des Arts et des Lettres" in 2013. </p>
                        <h4>Informations</h4>
                        <p>From june 2nd to june 4th 2017 <br>
                            3 Days - 15 films- 3 Cinema Halls : Le Méliès, Le 6 Rex & Le Club. </p>
                    </div>
                </div>
                <div class="col-6 flex-center">
                    <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(1).jpg" alt="" class="rounded-circle">
                </div>
            </div>
        </div>
    </div>
    <div id="program" class="index-section second-color">
        <div class="container white-text">
            <h2 class="text-right">FESTIVAL PROGRAM</h2>
            <h4 class="text-right">PROGRAM FOR THE 3 DAYS</h4>
            <p>Proin sollicitudin consectetur leo nec gravida. In ut vehicula purus, ac aliquam nisi. Cras posuere
                sagittis justo, in condimentum tortor tincidunt ac. Duis dignissim augue non mattis tincidunt. Praesent
                volutpat quis erat vitae molestie.</p>
            <section class="section black-text">
                <div class="row">

                    <!--First column-->
                    <div class="col-lg-4 col-md-12 mb-r">

                        <!--Pricing card-->
                        <div class="card pricing-card">
                            <!--Price-->
                            <div class="price header blue">
                                <p></p>
                                <div class="version">
                                    <h5>DAY 1</h5>
                                </div>
                            </div>
                            <!--/.Price-->

                            <!--Features-->
                            <div class="card-block striped">
                                <ul>
                                    <li>LE MELIES: Bombay Velvet, at 2:30PM</li>
                                    <li>LE MELIES: Masaan, at 2:30PM</li>
                                    <li>6REX: Hunterr, at 2:30PM</li>
                                    <li>LE MELIES: Closing party at 6:00PM</li>
                                </ul>
                            </div>
                            <!--/.Features-->

                        </div>
                        <!--/.Pricing card-->

                    </div>
                    <!--/First column-->

                    <!--Second column-->
                    <div class="col-lg-4 col-md-6 mb-r">

                        <!--Pricing card-->
                        <div class="card pricing-card">
                            <!--Price-->
                            <div class="price header blue">
                                <p></p>
                                <div class="version">
                                    <h5>DAY 2</h5>
                                </div>
                            </div>
                            <!--/.Price-->

                            <!--Features-->
                            <div class="card-block striped">
                                <ul>
                                    <li>LE MELIES: Bombay Velvet, at 2:30PM</li>
                                    <li>LE MELIES: Masaan, at 2:30PM</li>
                                    <li>6REX: Hunterr, at 2:30PM</li>
                                    <li>LE MELIES: Closing party at 6:00PM</li>
                                </ul>
                            </div>
                            <!--/.Features-->

                        </div>
                        <!--/.Pricing card-->

                    </div>
                    <!--/Second column-->

                    <!--Third column-->
                    <div class="col-lg-4 col-md-6 mb-r">
                        <!--Pricing card-->
                        <div class="card pricing-card">
                            <!--Price-->
                            <div class="price header blue">
                                <p></p>
                                <div class="version">
                                    <h5>DAY 3</h5>
                                </div>
                            </div>
                            <!--/.Price-->

                            <!--Features-->
                            <div class="card-block striped">
                                <ul>
                                    <li>LE MELIES: Bombay Velvet, at 2:30PM</li>
                                    <li>LE MELIES: Masaan, at 2:30PM</li>
                                    <li>6REX: Hunterr, at 2:30PM</li>
                                    <li>LE MELIES: Closing party at 6:00PM</li>
                                </ul>
                            </div>
                            <!--/.Features-->

                        </div>
                        <!--/.Pricing card-->
                    </div>
                    <!--/Third column-->

                </div>
                <!--/First row-->

            </section>
        </div>
    </div>

    <div id="gallery" class="index-section">
        <div class="container">

        </div>
    </div>

    <div id="the-association" class="index-section grey">
        <div class="container">
            <div class="row flex-center">
                <div class="col-6">
                    <h1 class="text-right">THE ASSOCIATION<br>''INDIAN CINEMA EVENT''</h1>
                    <br>
                    <div>
                       <p>The ICE association promotes lndian cinema in France since 2003 via events: Bollywood Day 2004 & Weekend 2005, releases, premieres, screenings, Resto Meetups with film makers. </p>
                    </div>
                </div>
                <div class="col-6 flex-center">
                    <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FRannouSonia&tabs&width=340&height=214&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId=1746058612296568" width="340" height="214" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
                </div>
            </div>
        </div>
    </div>

    <div id="partnerships" class="index-section">
        <div class="container">
            <h2 class="text-center">PARTNERSHIPS</h2>
            <br>
            <div class="flex-center">
                <div class="col-4"><img src="{{ asset("assets/design-images/logos/logo-embassy-india.png") }}" alt=""
                                        class="img-fluid"></div>
                <div class="col-4"><img src="{{ asset("assets/design-images/logos/logo-ville-grenoble.png") }}" alt=""
                                        class="img-fluid"></div>
                <div class="col-4"><img src="{{ asset("assets/design-images/logos/logo-pathe.png") }}" alt=""
                                        class="img-fluid"></div>
            </div>
            <div class="flex-center">
                <div class="col-4"><img src="{{ asset("assets/design-images/logos/logo-quinzaine-des-realisateurs-cannes.png") }}" alt=""
                                        class="img-fluid"></div>
                <div class="col-4"><img src="{{ asset("assets/design-images/logos/logo-les-6-rex.jpg") }}" alt=""
                                        class="img-fluid"></div>
            </div>
        </div>
    </div>
{% endblock %}

