{% extends ':site-structure:base_index.html.twig' %}

{% block body %}
    <div class="index-section">
        <div class="container">
            <div class="row flex-center">
                <div class="col-5 text-center">
                    <h3>INDIAN CINEMA EVENTS</h3>
                    <p>I.C.E. : Indian Cinema Events est une association (loi 1901) créée en juillet 2003 par Sonia
                        Rannou, (membre fondateur et directrice de l’association) journaliste, réalisatrice, chargée de
                        communication/RP/Presse-média pour le pavillon du cinéma indien au Festival de Cannes durant
                        plusieurs années , ainsi que pour des films faisant partie de la sélection officielle. Puis,
                        programmatrice et responsable de la section indienne au festival international du film de
                        Marrakech également durant plusieurs années.</p>
                </div>
                <div class="col-7">
                    <img src="{{ asset("assets/design-images/logos/logo-ice.png") }}" alt="" class="img-fluid">
                </div>
            </div>
            <hr>
            <p>L’association s’est donné pour mission de faire connaître le cinéma indien en France, peu ou mal connu à
                l’époque (2003), de promouvoir le meilleur du cinéma indien (Bollywood, cross-over, films d’auteur) et
                d’accompagner leur sortie en France par des soirées d’avant-premières, des événements spécifiques tels
                que le Bollywood Day et le Bollywood Week-End, des projections de films inédits en France, et de fournir
                une information sur le cinéma indien par le biais d’un site Web www.indiancinemaevents.fr qui présente
                des interviews exclusives des plus grands professionnels de l’industrie du cinéma en Inde. Le seul site
                en France et en français, en 2003, entièrement dédié à toute la palette du cinéma indien. D’ailleurs,
                Allociné nous a contactés afin de pouvoir partager nos articles consacrés aux films et célébrités, sur
                leur site.</p>
        </div>
        <div class="description">
            <div class="streak">
                <div class="flex-center">
                    <ul>
                        <li><h2 class="h2-responsive wow fadeIn"><i class="fa fa-quote-left" aria-hidden="true"></i>
                                Le seul site en France et en français, en 2003, entièrement dédié à toute la palette du
                                cinéma indien.
                                <i class="fa fa-quote-right" aria-hidden="true"></i></h2></li>
                    </ul>
                </div>
            </div>

            <div class="container">
                <p> I.C.E à l’honneur ! En effet, la chaîne Arte a présenté I.C.E. www.indiancinemaevents.fr comme le
                    site
                    de référence sur le cinéma indien en France, lors de sa semaine Bollywood en février 2004, dont nous
                    étions les partenaires.</p>

                <p>L’association est constituée de bénévoles passionnés de films indiens, de toutes nationalités, et de
                    différents horizons professionnels, (graphistes, concepteurs de sites Web, Web Dev, photographes,
                    scénaristes, réalisateurs, spécialistes du cinéma indien, journalistes, médecins, développeurs web,
                    étudiants en cinéma, rédacteurs dans des maisons d’édition etc.) Ces cinéphiles collaborent et
                    partagent
                    leur expérience en vue d’organiser des manifestations et de dispenser leur connaissance du cinéma
                    indien
                    aux néophytes. I.C.E. fait appel aux talents des jeunes artistes indiens vivant à Paris et n’oublie
                    jamais d’associer la communauté indienne parisienne à ses événements.</p>

                <h3>PROJECTIONS DE FILMS</h3>
                <hr>
                <p>Le centre culturel L’Entrepôt nous a proposé d’organiser des soirées de projections de films indiens
                    inédits : Taal de Subhash Ghai, Meenaxi de M.F. Husain, et une soirée spéciale court-métrage comme à
                    l’occasion de la nomination aux Oscars de Little Terrorist (court-métrage) d’Ashvin Kumar en
                    2004.</p>

                <p>Partenariat avec des distributeurs pour la projection de Bhoot de Ram Gopal Varma en juin 2005 puis
                    de
                    ‘Chokher Bali’ et ‘Raincoat’.</p>

                <p>Soirée spéciale « La Vallée des fleurs » du cinéaste Pan Nalin à l’Entrepôt. Nous avons été les
                    partenaires de la plupart des sorties de films indiens dans l’hexagone depuis 2003 et depuis 2016
                    l’activité de notre association s’est déplacée avec la création d’une nouvelle antenne à Grenoble.
                    Nous
                    avons été partenaires de tous les films indiens sortant dans l’hexagone, ainsi que programmateurs
                    des
                    films projetés lors de nos séances à Grenoble depuis l’été 2016 aux cinémas Pathé Chavant (leur
                    premier
                    Bollywood avec Shivaay), Pathé Echirolles (Kabaali et MS Dhoni), La Nef (Befikre, Chanda une mère
                    indienne, et Kattru Veliyidai), Méliès (Fan), Les 6 Rex (Mohenjo Daro, Dear Zindagi, Ae Dil Hai
                    Mushkil,
                    Raees, Kaabil, Badrinath Ki Dulhaniya), Soirée Déesses indiennes en colère avec une discussion via
                    skype
                    avec le réalisateur au cinéma Le Club…</p>
            </div>

            <div class="streak">
                <div class="flex-center">
                    <ul>
                        <li><h2 class="h2-responsive wow fadeIn"><i class="fa fa-quote-left"
                                                                    aria-hidden="true"></i> Nous avons été partenaires
                                de tous les films indiens sortant dans l’hexagone.
                                <i class="fa fa-quote-right" aria-hidden="true"></i></h2></li>
                    </ul>
                </div>
            </div>

            <div class="container">
                <h3>ACTIVITES D’UNE NOUVELLE ANTENNE A GRENOBLE DEPUIS 2016</h3>
                <hr>
                <p>Après plusieurs années passées à organiser des évènements à Paris, nous avons décidé d’ouvrir une
                    antenne dans la ville de Grenoble pour plusieurs raisons. C’est tout d’abord, la ville où est
                    domicilié
                    le siège de l’association, Indian Cinema Events. Ensuite, Grenoble est une ville avec une population
                    qui
                    n’est pas familière avec le cinéma indien, bien qu’ayant une communauté indienne, bien présente avec
                    des
                    familles indiennes installées depuis de nombreuses années dans l’agglomération, des étudiants
                    indiens
                    qui viennent chaque année pour suivre des cursus commerciaux ou scientifiques à Grenoble école du
                    Management, ou à l’Université de Grenoble, ainsi que des ingénieurs en informatique chez Scheneider,
                    ST,
                    HP ou des chercheurs.</p>

                <h4>Tournage Bollywood à Grenoble en 2004</h4>
                <p>Etant donné que Sonia Rannou a déjà eu l’occasion de faire venir un tournage d’un film Bollywood à
                    Grenoble en 2004 (‘Vaada’ du cinéaste indien, Satish Kaushik, avec des vedettes du cinéma indien
                    très
                    connus : Arjun Rampal, Zayed Khan et Amisha Patel, (tourné à Chamonix, Annecy et Grenoble), la ville
                    a
                    participé au tournage avec la Mairie, l’office du tourisme, la Fnac, la Bastille pour mettre à la
                    disposition du tournage divers éléments, espaces et lieux ainsi que les autorisations afin que ce
                    tournage se passe dans les meilleurs conditions. Ce fut un grand succès !</p>

                <p>Depuis plusieurs années, le cinéma Le Méliès proposait des séances de films indiens et notamment
                    Bollywood jusqu’à ce qu’en 2016, Indian Cinema Events prenne le relais pour organiser des
                    projections
                    dans diverses salles de cinéma de la ville : Pathé Echirolles et Pathé Chavant qui ont organisé leur
                    première séance de film Bollywood grâce à nos séances programmées chez eux. En juin 2016, invité par
                    le
                    cinéma Le Méliès, ICE a présenté la séance du film ‘Fan’, un blockbuster Bollywood avec Shahrukh
                    Khan,
                    la vedette la plus connue du cinéma populaire dont la statuette en cire est rentrée au musée Grévin
                    en
                    2006. ICE avait été invité en tant que partenaire de cet évènement. Le cinéma les 6 Rex, où ICE
                    organise
                    chaque mois une ou deux séances de films Bollywood. Le cinéma Le Club où nous avons eu l’occasion
                    d’organiser une séance spéciale par skype avec le réalisateur indien depuis Mumbai en juillet 2016.
                    Nous
                    avons organisé également une séance spéciale au cinéma La Nef pour le film ‘Chanda une mère
                    indienne’
                    sorti début janvier, en partenariat avec la ligue de l’enseignement ainsi qu’avec des associations
                    ayant
                    pour but l’éducation des jeunes filles dans divers pays à travers le monde, y compris en Inde.</p>

                <h3>SOIRÉES d’AVANT-PREMIÈRES</h3>
                <hr>
                <p>En 2004, I.C.E. a organisé en partenariat avec le Hard Rock Café à Paris une soirée spéciale pour la
                    sortie de La Famille indienne, ainsi qu’une soirée pendjabie avec l’équipe du film à l’occasion de
                    la
                    sortie de One-Dollar Curry de Vijay Singh.</p>

                <p>Il y a également eu un partenariat pour l’avant-première du film Matrubhoomi de Manish Jhâ (Lauréat
                    du
                    Meilleur court-métrage au Festival de Cannes) en janvier 2005, ainsi qu’un partenariat avec les
                    distributeurs pour l’avant-première de Swades en présence d’Ashutosh Gowariker en juin 2005.</p>

                <h4>Soirée projection et dîner au restaurant :</h4>

                <p>A l’occasion de la sortie du film La Vallée des Fleurs du réalisateur indien, Pan Nalin, basé à
                    Paris,
                    ICE a organisé une projection à l’Entrepôt ainsi qu’un dîner au restaurant.</p>

                <h3>ÉVÉNEMENTS BOLLYWOOD</h3>
                <hr>
                <p>En 2004, I.C.E. avait coorganisé un Bollywood Day (une première en France) qui a attiré 900 visiteurs
                    au
                    Trianon, avec les distributeurs, à l’occasion de la sortie des films La Famille indienne de Karan
                    Johar
                    (Kabhi Khushi Kabhie Gham) considéré comme l’un des cinq films Bollywood les plus populaires au
                    Box-office, et Mother India (nominé aux Oscars pour le Meilleur Film étranger).</p>

                <p>Suite à ce succès incroyable, I.C.E. coorganise, avec les distributeurs, le Bollywood Week-End 2, les
                    29, 30 avril et 1er mai 2005 au Trianon : une grande célébration du cinéma indien (à l’occasion de
                    la
                    sortie des films New-York Masala, Sholay, La Famille indienne (sorti en 2004) et Swades (projections
                    de
                    classiques, danses, concerts...) Et déjà sur le site Web : www.indiancinemaevents.com, tout le
                    programme
                    concernant le Bollywood week-End 2 ; le site foisonne aussi d’informations, d’exclusivités,
                    d’interviews, de photos, en rapport avec le 7e art indien. 2 500 personnes venues des quatre coins
                    de la
                    France et de la Belgique ont fait de ce week-end un succès formidable. Outre le spectacle de 2
                    heures,
                    un karaoké géant a été organisé.</p>
            </div>

            <div class="streak">
                <div class="flex-center">
                    <ul>
                        <li><h2 class="h2-responsive wow fadeIn"><i class="fa fa-quote-left"
                                                                    aria-hidden="true"></i> 2 500 personnes venues des
                                quatre coins de la France et de la Belgique ont fait de ce week-end un succès
                                formidable.
                                <i class="fa fa-quote-right" aria-hidden="true"></i></h2></li>
                    </ul>
                </div>
            </div>

            <div class="container mt15">
                <p>I.C.E. a été partenaire avec le Musée Grévin de l’entrée de la vedette Shahrukh Khan en 2006.</p>

                <p> Nous avons organisé une soirée spéciale karaoké Bollywood au Jaipur Café à Paris.</p>

                <h3>PARTENARIATS POUR DES EVENEMENTS SPECIFIQUES</h3>
                <p>Le Musée Guimet nous a proposé un partenariat lors du festival de cinéma de l’automne 2004 « L’été
                indien » (trois mois de festival autour du cinéma d’art et d’essai avec Shaji Karun, Satyajit Ray,
                Buddhadeb Dasgupta) au Musée Guimet. I.C.E. va renouveler l’expérience pour l’édition de ce festival
                jusqu’en 2015 avec ICE en partenaire.</p>

                <p>I.C.E. s’est associé au Festival du cinéma asiatique de Lyon/Paris en novembre 2004 lors de leur
                programmation du cinéma Kollywood (cinéma commercial de Madras).</p>

                <p>L’association a été sollicitée pour animer une émission de radio sur le cinéma indien chaque mois sur
                une radio indienne du Net, Radio Teentaal. Lors de ces émissions, I.C.E. invite des personnalités (des
                cinéastes tels que Manish Jha, et Vijay Singh, le chercheur Emmanuel Grimaud, ainsi que des artistes
                comme Olivier Leroy, musicien et compositeur qui a créé un concert « Olli & the Bollywood Orchestra » en
                tournée dans toute la France et à l’étranger.)</p>

                <p>I.C.E. a soutenu une association après une catastrophe humanitaire qui a frappé l’Asie du Sud-Est. La
                maison de l’Inde a d’ailleurs vivement répondu à sa demande et apporté son soutien à l’occasion d’un
                concert de charité sur la thématique de Bollywood, mêlant danses, chants et arts martiaux indiens dans
                ses locaux (j’imagine que c’est ce que tu voulais dire…?). Tous les membres d’I.C.E se sont mobilisés
                lors de cette tragédie afin de récolter des fonds pour l’association du père Ceyrac. Un spectacle
                Bollywood a été organisé par I.C.E en partenariat avec la Maison de l’Inde, et avec son Excellence,
                l’Ambassadeur de l’Inde et qui a récolté plus de 900 Euros, reversés intégralement à l’association du
                père Ceyrac en Inde.</p>
            </div>
        </div>
    </div>
    <div>
        <div class="blue-grey darken-2 index-section text-center white-text">
            <h2>L'EQUIPE DE I.C.E.</h2>
        </div>
        <br>

        <div class="container">
            <p class="text-center">Voici l'équipe derrière Indian Cinema Events. Et pourquoi pas vous ?</p>
            {% for member_row in members|batch(3, 'No item') %}
                <div class="row">
                    {% for member in member_row %}
                        <div class="col-4 text-center">
                            <div class="avatar">
                                <img src="{{ asset(member.image.getWebPath()) }}" class="rounded-circle" width="80%">
                            </div>
                            <br>
                            <h4>{{ member.fullname }}</h4>
                            {% if member.jobtitle %}
                                <h5>{{ member.jobtitle }}</h5>
                            {% endif %}
                            <p class="text-justify">{{ member.description }}</p>
                        </div>
                    {% endfor %}
                </div>
                <br>
            {% endfor %}
        </div>
    </div>

{% endblock %}