{% extends ':site-structure:base_index.html.twig' %}

{% block body %}
    <div class="index-section text-left white-text second-color">
        <div class="container">
            <h1>Biographie</h1>
        </div>
    </div>
    <div class="index-section">
        <div class="container">
            <div class="row">
                <div class="col-4">
                    <img src="{{ asset(personality.image.getWebPath()) }}" alt="{{ personality.fullname }}" class="img-fluid">
                    <br>
                    <ul>
                        <li><i class="fa fa-birthday-cake"></i> {{ personality.birthdate|date('d-m-Y') }}</li>
                        <li><i class="fa fa-flag"></i> {{ personality.nationality }}</li>
                    </ul>
                </div>
                <div class="col-8">
                    <h1>{{ personality.fullname }}</h1>
                    {% if personality.title %}
                        <p>{{ personality.title }}</p>
                    {% endif %}
                    {{ personality.description|raw }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}